@model  List<Book> 
@{
    ViewData["Title"] = "Home Page";
}


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Benvenuto nella nostra Libreria!</h1>
        </div>
    </div>
</section>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 d-flex justify-content-between">
           
                @foreach (Book books in Model)
                {
                    <div class="col-6">

                            <div class="card shadow-sm" height="300">
                                <img class="card-img-top" style="max-height:350px" src="@books.UrlImmagine" alt="@books.Titolo"></img>
                                <div class="card-body">
                                    <p class="card-text">@books.Titolo</p>
                                    @if (books.Disponibilità)
                                    {
                                        <p class="text-success">DISPONIBILE</p>
                                    }
                                    else
                                    {
                                        <p class="text-danger">NON DISPONIBILE</p>                               
                                    }

                                    <p class="mt-2">PRENOTA</p>

                                    @if (books.VersioneCartaceaDisponibile != null && (bool)books.VersioneCartaceaDisponibile)
                                    {
                                        <button type="button" class="btn btn-success rounded-0">Ebook</button>
                                        <button type ="button" class="btn btn-warning rounded-0">Cartaceo</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-success rounded-0">Ebook</button>
                                    }

                                    <a class="btn btn-dark btn-sm rounded-0" href="@Url.Action("BookDetails","Book", new {id = books.Id})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 2 22 22" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    </a>
                                </div>
                            </div>                    
                    </div>
                }
            
        </div>
    </div>
</div>